%f.usrfooter
  %ul.inner
    %li.inner__box 
      %p.inner__box--text プライバシーポリシー
    %li.inner__box
      .inner__box--text FURIMA利用規約
    %li.inner__box
      .inner__box--text 特定商取引に関する表記
  .usrfooter-logo
    = link_to '/', class:'' do
      = image_tag asset_path('logo/logo.png'), alt: '', class: 'usrfooter-logo__icon'

  