= render "items/pc_header"
.MyAccountPage
  .MyAccountPage__header

  .Main-AccountPage
    .Main-AccountPage__move
      .Main-AccountPage__move--title
        %p.newText 登録が完了しました
      .AccountPage__title 
        .form_out__upper
          .form_out__upper__group
            = form_with url: root_path, method: :get, local: true do |f|
              = f.submit "トップへ戻る", class: 'btn-default'
= render "items/footer"
