= render "items/pc_header"
.MyAccountPage
  .MyAccountPage__header

  .Main-AccountPage
    .Main-AccountPage__move
      .Main-AccountPage__move--title
        %p.newText 本当にログアウトしますか？
      .AccountPage__title 
        .form_out__upper
          = form_with url: destroy_user_session_path, method: :delete, local: true do |f|
            = f.submit "ログアウト", class: 'btn-default'

= render "items/footer"