.Bread__crumbs{
  width: 100%;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 0 60px;
  ul{
    display: flex;
    padding: 17px 0 16px;
    width: 100%;
    max-width: 1040px;
    font-size: 14px;
    margin: 0 auto;
    a{
      text-decoration: none;
    }
    li::after {
      display: inline-block;
      color: #000;
      content: '>';
      padding: 0 10px;
    }
    p{
      font-weight: bold;
    }
  }
}
.Show__main{
  background: #f8f8f8;
  padding: 40px;
  .Content{
    width: 700px;
    margin: 0 auto;
    .Top__content{
      .Item__box{
        background-color: #fff;
        padding: 24px 40px 40px;
        &__name{
          text-align: center;
          font-weight: bold;
          font-size: 24px;
        }
        &__body{
          margin: 0 50px;
          .Main__image{
            margin: 0 auto;
            width: 100%;
          }
          .Sub__image{
            display: flex;
            justify-content: center;
            margin-top: 10px;
            li{
              width: 20%;
              margin: 0 10px 0 0;
              img{
                width: 100%;
              }
            }
          }
        }
        &__price{
          margin: 24px 0 24px;
          text-align: center;
          display: flex;
          flex-direction: column;
          p{
            font-size: 46px;
            font-weight: bold;
            margin: 0 10px 0 0;
          }
          span{
            font-size: 16px;
          }
        }
        .Item__detail{
          line-height: 1.5;
          font-size: 18px;
          margin-bottom: 30px;
        }
        .Table{
          margin-bottom: 20px;
          table{
            width: 100%;
            height: 375px;
            border-collapse: collapse;
            border: 1px solid #f8f8f8;
            th{
              width: 20%;
              background-color: #eee;
              font-weight: 400;
              padding: 8px;
              border: 1px solid #dedede;
              font-size: 14px;
              text-align: center;
            }
            td{
              width: 61%;
              padding: 15px 15px;
              border: 1px solid #dedede;
              font-size: 14px;
              a{
                text-decoration: none;
                color: #3CCACE;
              }
            }
          }
        }
        .Optional__area{
          display: flex;
          justify-content: space-between;
          ul{
            margin: 10px 0 0;
            .Optional__btn--likebtn{
              margin-right: auto;
              padding: 6px 10px;
              border-radius: 40px;
              color: #3CCACE;
              border: 1px solid #ffb340;
            }
          }
          .Optional{
            margin: 10px 0 0;
            .Optional__btn{
              font-size: 14px;
              a{
                padding: 6px 10px;
                display: inline-block;
                border-radius: 4px;
                color: #333;
                border: 1px solid #333;
                text-decoration: none;
              }
            }
          }
        }
      }
      .Comment__box{
        padding: 24px;
        background-color: #fff;
        margin: 10px 0;
        text-align: center;
        .New__comment{
          &__body{
            width: 100%;
            min-height: 104px;
            padding: 10px;
          }
          .Notice__msg{
            padding: 8px;
            font-size: 14px;
            background-color: #f8f8f8;
            margin: 10px 0;
            text-align: left;
          }
          .Comment__btn{
            line-height: 48px;
            background: #3CCACE;
            border: 1px solid #3CCACE;
            color: #fff;
            width: 60%;
            font-size: 18px;
            border-radius: 100px;
          }
        }
      }
    }
    .Links{
      display: flex;
      justify-content: space-between;
      a{
        text-decoration: none;
        color: #3CCACE;
      }
    }
    .Related__items{
      a{
        display: block;
        margin: 24px 0 8px;
        color: #3CCACE;
        text-decoration: none;
        font-weight: bold;
        font-size: 22px;
      }
    }
    .ProductLists {
      width: 780px;
      margin: 26px auto;
      display: flex;
      .ProductList {
        width: 220px;
        display: inline-block;
        &__img {
          width: 220px;
          height: 150px;
          margin: 0;
          overflow: hidden;
          z-index: auto;
        }
        img {
          width: 220px;
          height: 150px;
        }
        &__body {
          background-color: white;
          color: #333;
          padding: 16px;
          .name {
            line-height: 1.5;
            font-size: 16px;
            text-align: left;
            font-family: sans-serif;
          }
          .details {
            font-size: 16px;
            ul {
              display: flex;
              justify-content: space-between;
            }
            p {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}

.Purchase__content{
  margin: 0px auto;
  padding: 0 16px 30px;
  max-width: 375px;
  .Purchase__form{
    &__btn{
      background-color: #3CCACE;
      color: #fff;
      width: 100%;
      font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
      font-size: 17px;
      min-height: 48px;
      border-radius: 4px;
      border: 1px solid transparent;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}