.Top__introduction{
  padding: 60px 20px;
  .Subtitle{
    text-align: center;
    font-size: 26px;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 15px;
    position: relative;
  }
  .Subtitle::after {
    content: "";
    width: 70px;
    height: 4px;
    background-color: #3ccace;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .Lists{
    display: flex;
    max-width: 1020px;
    margin: 0 auto;
    .List{
      width: 30%;
      margin: 16px 5% 0 0;
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__pict{
        position: relative;
        margin-bottom: 20px;
        .img{
          width: 100%;
        }
        span{
          position: absolute;
          font-size: 30px;
          padding: 10px 20px;
          background-color: #3CCACE;
          color: #fff;
        }
      }
      &__text{
        font-weight: bold;
        font-size: 24px;
        line-height: 50px;
        margin: 0 0 0 2px;
        text-align: center;
        span{
          color: #3CCACE;
        }
      }
      &__description{

      }
    }
  }
}