.Listing {
  background-color:#f5f5f5;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  .TopIcon {
    text-align: center;
    padding: 50px 0;
    &__icon {
    width: 200px;
    }
  }
  .Content {
    height: 100％;
    width: 700px;
    background-color: #ffffff;
    padding: 40px;
    margin: 0 auto;
    border-bottom: 1px dotted #dcdcdc;
    &__Field {
      width: 600px;
      border-radius: 5px;
      &__Image {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &__label {
        height: 177px;
        width: 600px;
        background-color: #f5f5f5;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &__Previews {
        display: flex;
      }
    }
    img {
      margin: 0 2px;
      width: 146px;
      height: 146px;
    }
    
    .JsFile__Group {
      // display: none;
    }

    // input {
    //   display: none;
    // }
    
    .JsFile {
      background-color: #3ccace;
      // display: none;
    }

    .JsFile_btn {
      display: none;
    }    

    .JsRemove {
      text-align: center;
      height: 25px;
      //background-color: #dcdcdc;
      color: #3ccace;
      font-family: sans-serif;
      margin: 0 2px;
      border: 1px solid #dcdcdc;
    }
  }
}