%aside.AppBanner
  .Inner
    %h2.Inner__title だれでもかんたんに、人生を変えるフリマアプリ
    %p.Inner__text 今すぐ無料ダウンロード！
    .Inner__icon
      =link_to "#" do
        = image_tag src='icon/black.svg', class: 'Inner__icon__abtn'
      =link_to "#" do
        = image_tag src='icon/google-play-badge.png', class: 'Inner__icon__gbtn'

      
        