.Main__visual
  .Content
    %h2.Content__subtitle
      %br 人生を変えるフリマアプリ
    %p.Content__text
      FURIMAははだれでもかんたんに出品・購入できる
      %br
      フリマアプリです
    .Content__btns
      = link_to('#', class: 'Content__btns__btn') do
        = image_tag 'icon/black.svg', class: 'Content__btns__btn--abtn'
      = link_to('#', class: 'Content__btns__btn') do
        = image_tag src='icon/google-play-badge.png', class: 'Content__btns__btn--gbtn'