.Main__visual
  .Content
    %h2.Content__subtitle
      %br 人生を変えるフリマアプリ
    %p.Content__text
      FURIMAははだれでもかんたんに出品・購入できる
      %br
      フリマアプリです
    .Content__btns
      = link_to('#', class: 'Content__btns__btn') do
        = image_tag '/assets/logo/logo.png', alt: '', class: 'Btn--image'
      = link_to('#', class: 'Content__btns__btn') do
        = image_tag '/assets/logo/logo.png', alt: '', class: 'Btn--image'