.Top__middle__dl
  .Top__middle__dl--inner
    %p.Subtitle
      会員数日本一
    %p.Text
      FURIMAは、フリマアプリで最も人気。
      %br
      出品・購入回数も業界最多です！
      %br
      ほしかったあの商品に出会えるかもしれません。
    .Btns
      = link_to('#', class: 'Btns__btn') do
        = image_tag '/assets/logo/logo.png', alt: '', class: 'Btns__btn--img'
      = link_to('#', class: 'Btns__btn') do
        = image_tag '/assets/logo/logo.png', alt: '', class: 'Btns__btn--img'